/* header */


header{
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
header img{
    max-width: 8rem;
}
header h1{
    color: white;
    text-align: center;
}
header .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .plus h3{
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
}
header .plus div{
    display: flex;
    align-items: center;
}
header .plus div.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header .plus div.flex div{
    margin-bottom: .5rem;
}
header .plus div img{
    max-width: 3rem;
}
header .plus div a{
    color: white;
}
header .curriculum{
    text-decoration: underline;
    text-decoration-color: white;
}

/* boddy */


/* BURGER */

.burger{
    cursor: pointer;
    z-index: 5;
    text-align: center;
    color: white;
    background-color: rgba(32, 34, 37, .4);
    border-radius: 10rem;
    font-size: 5rem;
    border-radius: 5rem;
    width: 7rem;
    margin-left: 16rem;
    margin-top: 2rem;
}
header nav{
    display: none;
}
.open-menu{
    position: fixed;
    display: block;
    width: 40rem;
    height: 100%;
    z-index: 2;
    border-radius: 1rem;
    top: 0rem;
    left: 0rem;
    transition: all .3s ease-in-out;
    visibility: visible;
    background-color: rgba(32, 34, 37, .8);       
}
.open-menu nav{
    position: static;
    display: block;
    margin-top: 20rem;
    height: 100%;
}
.open-menu nav ul.close{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.open-menu ul.close li{
    width: 90%;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    margin: .5rem auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #DA891E,#EBC55A, #38CFCA);
    transition: 1s;
} 
.open-menu ul.reseau{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 15rem;
}
.open-menu ul.reseau li{
    margin: 10rem 0rem;
}
.open-menu ul.reseau li a{
    margin: 0rem 3rem;
    transition: 1s;
}
.open-menu ul.reseau li:hover{
    transform: scale(1.2);
    transition: 1s;
}
.open-menu ul.close li:hover{
    transform: scale(1.08);
    transition: .3s all ease-in-out;
}
.open-menu ul.close li a{
    width: 90%;
    color: black;
}