/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    background: linear-gradient(to top,#421D81,#000023);
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}
/* header */


/* IMG GRAND */

.aside{
    background: url(../assets/pixel-jeff-clipa-s.gif) no-repeat scroll center center / cover;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}
main div.aside::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    z-index: 0.1;
    background: linear-gradient(to top,#140940,transparent);
}
div.fx{
    margin-top: 10rem;
}
div.fx:hover{
    transform: scale(1.3);
    transition: 1s;
}
main div.aside a.veil{
    color: white;
    background: rgba(54, 57, 63, .7);
    padding: 1rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
main div.aside a img{
    max-width: 5rem;
    margin-left: 2rem;
}
.aside div.H{
    font-weight: 500;
    background: rgba(54, 57, 63, .4);
    width: 100%;
    padding: 4rem 0rem;
    margin-bottom: 10rem;
}

/* MAIN */

h2{
    background-color: rgba(88, 101, 242, 1);
    border-radius: 1rem;
    padding: .5rem ; 
}
main section{
    background-color: rgba(32, 34, 37, 1);
    border-radius: 1rem;
    max-width: 90rem;
    margin: 3rem auto;
}
main section p{
    padding: .8rem 2rem;
    color: white;
}

/* MAIN IMG global */

main section.img ul{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    gap: 4rem;
}
main section.img ul li img{
    width: 100%;
    height: 100%;
}
main section.img ul li{
    background: rgba(54, 57, 63, 1);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

/* MAIN IMG Traveaux */

main section.travaux ul li img{
    width: 10rem;
    margin: 1rem 0rem;
    transition: 1s;
}
main section.travaux ul li{
    background: rgba(54, 57, 63, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
}
main section.travaux ul li:hover img{
    transform: scale(1.3);
    transition: 1s;
}
main section.travaux ul li h3{
    color: white;
    margin: 1rem 0rem;
}
main section.travaux ul{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
    gap: 4rem;
}

/* plus */

.plus1{
    cursor: pointer;
    z-index: 5;
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: .3rem 3rem;
    border: solid white .4rem;
}
.bloc{
    display: block;
    text-align: center;
    margin-bottom: 3rem;
}
main nav{
    display: none;
}
.open-plus nav{
    position: static;
    display: flex;
    max-width: 90rem;
    margin: 0 auto;
}
section#formation{
    width: 49%;
}
section#formation ul{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(13rem,1fr));
    gap: 1rem;
    padding: 2rem;
}
section#formation ul li{
    background: rgba(54, 57, 63, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border-radius: 1rem;
}
section#formation ul li h3{
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
section#formation ul li img{
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
}
section#formation ul li:hover img{
    transform: scale(1.1);
    transition: 1s;
}
section#Expérience1{
    width: 48%;
}
section#Expérience1 ul{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#Expérience1 ul li{
    background: rgba(54, 57, 63, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 1rem auto;
    border-radius: 1rem;
}
section#Expérience1 ul li h3{
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
}
section#Expérience1 ul li img{
    filter: invert(1);
}
section#Expérience1 ul:hover li img{
    transform: scale(1.1);
    transition: 1s;
}
div.close-menu h2{
    text-align: center;
}
/* footer */

footer p{
    text-align: center;
    padding: 2rem;
    color: white;
} 
footer{
    background-color:rgba(32, 34, 37, .7);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .plus, footer .reseau{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: white;
    font-size: 3rem;
    margin: 2rem 0rem;
}
footer section img{
    margin: 0rem 1rem ;
    transition: 1s;
}
footer img:hover{
    transform: scale(1.2);
    transition: .3s all ease-in-out;
}
footer .plus div{
    display: flex;
    align-items: center;
}
footer .plus div.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .plus div.flex div{
    margin-bottom: .5rem;
}
footer .plus div img{
    max-width: 3rem;
}
footer .plus div a{
    color: white;
}
footer .curriculum{
    text-decoration: underline;
    text-decoration-color: white;
}

/* responsive */

@media screen and (max-width: 50rem){
    .aside{
        font-size: 2.5rem;
        background: url(../assets/pixel-jeff-night-street-b.gif) no-repeat scroll center center / cover;
    }
    header{
        font-size: 1.5rem;
    }
    .open-menu{ 
        width: 100%;
        min-height: 100%;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(32, 34, 37, .9);  
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .open-menu nav{
        width: 100%;
        height: 100%;
    }
    .open-plus nav{
        flex-direction: column;
    }
    section#formation{
        width: 100%;
    }
    section#Expérience1{
        width: 100%;
    }
    section#formation ul{
        grid-template-columns: repeat(auto-fill, minmax(12rem,1fr));
    }
    .open-menu nav ul{
        height: 100%;
        justify-content: center;
    }
    .open-menu nav ul li{
        margin: 1rem 0rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .reseau,.plus{
        margin-bottom: 4rem;
    }
}