/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    background: rgba(54, 57, 63, 1);
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}
/* header */


header{
    background-color: rgba(32, 34, 37, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    max-width: 8rem;
}
header h1{
    margin-left: 1rem;
    color: white;
}

/* boddy */

.aside{
    background: url(https://www.wallpapertip.com/wmimgs/49-494534_home-about-abstract-nature-urban-corporates-business-professional.jpg)no-repeat scroll center center / cover;
    min-height: 50vh;
    max-width: 135rem;
    margin: 2rem auto 2rem;
    box-shadow: 0 0 1.0rem #333 ;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 5rem;
    font-size: 10.0rem;
    color: grey;
    text-shadow: .8rem .8rem 0 #333333, 1.1rem 1.1rem 0 black;

}

h2{
    background-color: rgba(88, 101, 242, 1);
    border-radius: 1rem;
    padding: .5rem ; 
}
section{
    background-color: rgba(32, 34, 37, 1);
    border-radius: 1rem;
    max-width: 90rem;
    margin: 3rem auto;
}
section p{
    padding: 2rem;
    color: white;
}
section ul{
    display: flex;
    justify-content: space-around;
}
section ul li img{
    max-width: 15rem;
}

/* footer*/

footer p{
    text-align: center;
}