/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    background: rgba(54, 57, 63, 1);
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}
/* header */


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 34, 37, .4);       
    position: fixed;
    width: 100%;
    top: 0;
}
header img{
    max-width: 8rem;
}
header h1{
    margin-left: 1rem;
    color: white;
}

/* boddy */

/* NAV */
nav.header a{
    text-align: center;
    color: black;
    background-color: rgba(88, 101, 242, 1);
    border-radius: 2rem;
    width: 14rem;
    padding: .5rem; 
}
nav.header a:hover{
    transform: scale(1.1);
    transition: 1s all ease-in-out;
}
nav.header ul{
    margin: 10rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-around;
}
nav.header ul li{
    display: flex;
}
/* IMG GRAND */

.aside{
    background: url(https://www.wallpapertip.com/wmimgs/49-494534_home-about-abstract-nature-urban-corporates-business-professional.jpg) no-repeat scroll center center / cover;
    min-height: 50vh;
    max-width: 135rem;
    margin: 2rem auto 2rem;
    box-shadow: 0 0 1.0rem #333 ;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 5rem;
    font-size: 10.0rem;
    color: grey;
    text-shadow: .8rem .8rem 0 #333333, 1.1rem 1.1rem 0 black;
}

/* MAIN */

h2{
    background-color: rgba(88, 101, 242, 1);
    border-radius: 1rem;
    padding: .5rem ; 
}
main section{
    background-color: rgba(32, 34, 37, 1);
    border-radius: 1rem;
    max-width: 90rem;
    margin: 3rem auto;
}
main section p{
    padding: .8rem 2rem;
    color: white;
}

/* MAIN IMG global */

main section.img ul{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    gap: 4rem;
}
main section.img ul li img{
    width: 100%;
    height: 100%;
}
main section.img ul li{
    background: rgba(54, 57, 63, 1);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

/* MAIN IMG Traveaux */

main section.travaux ul li img{
    width: 10rem;
    margin: 1rem 0rem;
}
main section.travaux ul li{
    background: rgba(54, 57, 63, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
}
main section.travaux ul li h3{
    color: white;
    margin: 1rem 0rem;
}
main section.travaux ul{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
    gap: 4rem;
}

/* footer */

footer p{
    text-align: center;
    padding: 2rem;
    color: white;
} 
footer{
    background-color:rgba(32, 34, 37, 1);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .plus, footer .reseau{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: white;
    font-size: 3rem;
    margin: 2rem 0rem;
}
footer section img{
    margin: 0rem 1rem ;
    transition: 1s;
}
footer img:hover{
    transform: scale(1.2);
    transition: .3s all ease-in-out;
}
.plus div{
    display: flex;
    align-items: center;
}
.plus div img{
    max-width: 3rem;
}
.plus div a{
    color: white;
}

/* responsive */

@media screen and (max-width: 50rem){
    .aside{
        font-size: 4.0rem;
    }
    header{
        font-size: 1.5rem;
    }
    nav.header ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav.header ul li{
        margin: .5rem 0rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .reseau,.plus{
        margin-bottom: 4rem;
    }
}