/* reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    scroll-behavior:smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 10rem 0 0 0;
    line-height: 1.6;
    background: linear-gradient(to bottom,#421D81,#000023);
}
section,figure,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
*{ 
    box-sizing:border-box;
}
button{
    padding:0;
    border:0;
    background-color:transparent;
}


/* Main */

main{
    max-width: 90rem;
    margin: 0 auto;
    color: white;
}
main section{
    margin: 3rem auto;
    padding: 1rem 1rem;
    background-color:rgba(32, 34, 37, .7);
    border-radius: 1rem;
    border: #0C0F0A solid 0.2rem;
}
main section h2{
    text-align: center;
    font-size: 4rem;
}
main section p{
    margin: 1rem 0rem;
}
main section img{
    width: 50rem;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    border: #0C0F0A solid 0.2rem;
}
main section ul li{
    margin: 1rem 0rem;
}
main section#Maquette ul{
    display: flex;
    justify-content: space-around;
}
main section#Maquette img{
    width: 30rem;
}
main section#réalisation img{
    width: 30rem;
}
main a{
    background-color:rgba(32, 34, 37, .7);
    color: white;
    border-radius: 1rem;
    font-size: 3rem;
    margin: 4rem auto;
    display: block;
    max-width: 25rem;
    text-align: center;
    font-weight: bolder;
    transition: 1s;
    padding: 1rem;
}
main a:hover{
    transform: scale(1.3);
    transition: 1s;
}
#Synthèse p{
    background-color: #444;
    border-radius: 1rem;
  }
#Synthèse p:nth-child(2n+1) {
    background-color: #333;
    border-radius: 1rem;
    padding-left: 2rem;
  }
  #Synthèse p:nth-child(2n+2){
    padding-left: 1rem;
  }
/* footer */

footer p{
    text-align: center;
    padding: 2rem;
    color: white;
} 
footer{
    background-color:rgba(32, 34, 37, .7);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .plus, footer .reseau{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    color: white;
    font-size: 3rem;
    margin: 2rem 0rem;
}
footer section img{
    margin: 0rem 1rem ;
    transition: 1s;
}
footer img:hover{
    transform: scale(1.2);
    transition: .3s all ease-in-out;
}
footer .plus div{
    display: flex;
    align-items: center;
}
footer .plus div.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer .plus div.flex div{
    margin-bottom: .5rem;
}
footer .plus div img{
    max-width: 3rem;
}
footer .plus div a{
    color: white;
}
footer .curriculum{
    text-decoration: underline;
    text-decoration-color: white;
}
/* responsive */

@media screen and (max-width: 50rem){
    header{
        font-size: 1.5rem;
    }
    .open-menu{ 
        width: 100%;
        min-height: 100%;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(32, 34, 37, .9);  
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .open-menu nav{
        width: 100%;
        height: 
        100%;
    }
    .open-plus nav{
        flex-direction: column;
    }
    .open-menu nav ul{
        height: 100%;
        justify-content: center;
    }
    .open-menu nav ul li{
        margin: 1rem 0rem;
    }
    main section img{
        width: 30rem;
    }
    main section#Maquette ul{
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}